### IntelliJ ###
.idea/

### Eclipse ###
.settings/
.metadata/
.recommenders
.classpath
.project

### Build artifacts ###
target/

### IntelliJ ###
.idea/
*.iml

### vscode settings directory ###
.vscode

### macOS specific files  ###
.DS_Store

### Others ###
design
